* text=auto
*.py text eol=lf
*.sh text eol=lf
*.sbatch text eol=lf
*.pbs text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.md text eol=lf
.editorconfig text eol=lf
.env.example text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.hwp binary
*.h5 binary
*.zip binary
